doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='css/style.min.css')

    title= title

  body
    div.vertical-wrapper
      header
        h1.title= title

      div.main-content

        ul.links
          - for(var i = 0, totalLinks = links.length; i < totalLinks; i++) {
            li
              a(href=links[i].href)
                img(src=links[i].image.src, alt=links[i].image.alt)
                span= links[i].title
          - }
