doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='css/global.min.css')

    title= data.title

  body
    div.vertical-wrapper
      header
        h1= data.title

      div.main-content

        ul.links
          - for(var i = 0, totalLinks = data.links.length; i < totalLinks; i++) {
            li
              a(href=data.links[i].href)
                img(src=data.links[i].image.src, alt=data.links[i].image.alt)
                span= data.links[i].title
          - }