doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='css/style.min.css')

    title= title

  body.homepage
    section.profile
      span.yours-truly= 'AUDRIUS LUBYS'
      ul.profile-links
        each link in profileLinks
          li.profile-links__link
            a(href=link.href)
              img(src=link.image.src, alt=link.image.altText)
      
